{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css
    /base.css'%}" rel="stylesheet">
</head>
<body>
<span class="user">
      {% if request.user.is_authenticated %}
        Hello {{ request.user.first_name }}


    <a href="{% url 'logout'%}">Logout</a>
    <a href="{% url 'main' %}"> Home  </a>
    <a href="{% url 'settings' %}"> Settings  </a>
    <a href="{% url 'user_list' %}"> Friend finder  </a>
    <a href="{% url 'profile_view' request.user.profile.get_slug%}"> Yours Friends </a>







    {% else %}
        <a href="{% url 'login' %}">Log-in</a>
    {% endif %}
</span>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">
          {{ message|safe }}
            <a href="#" class="close">x</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>